.button{

height:44px;

padding:0 20px;

border-radius:12px;

border:none;

cursor:pointer;

font-size:15px;

font-weight:600;

transition:.25s;

}

.primary{

background:#00A86B;

color:white;

}

.primary:hover{

transform:translateY(-2px);

}

.secondary{

background:#F3F5F7;

}

.outline{

background:white;

border:1px solid #DDD;

}